.CDown {
  background: #65dc98;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#CDownNum {
  color: #de004e;
  -webkit-text-stroke: 0.4px black;
  text-shadow: 0 0 7px #de004e, 0 0 10px #de004e, 0 0 21px #de004e,
    0 0 42px rgb(0, 255, 242), 0 0 82px rgb(0, 255, 242),
    0 0 92px rgb(0, 255, 242), 0 0 102px rgb(0, 255, 242),
    0 0 151px rgb(0, 255, 242);
}
#hours, #minutes, #seconds {
  height: 1.5em;
  width: 3em;
  border-radius: 0.4em;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  margin: 4.5em .4em;
}

#hours:focus, #minutes:focus, #seconds:focus {
  background-color: #de004e;
  color: #1afe49;
}

